<html>

<head>
    <style type="text/css">
        span.clas_002 {
            font-family: Arial, serif;
            font-size: 14.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        .cls_002 {
            font-family: Arial, serif;
            font-size: 14.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_003 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        * {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        .mainData table,
        .mainData th,
        .mainData td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        th {
            font-weight: bold;
            background-color: rgb(157, 190, 255);
        }

        .color-blue {
            background-color: rgb(216, 228, 252);
            ;
        }

        #main-text {
            font-family: Arial, serif;
            font-size: 10px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            margin-left: 30pt;
            margin-right: 20pt
        }
    </style>
</head>

<body>
    <div id='main-text'>
        <div id='pageHeader'>
            <img src='logo.png' alt='logo' align='left' style='width:50pt; height:10pt; padding-top: 15pt; padding-left:15pt'>
            <span class='cls_002' style='font-weight: bold; text-align: center'>
                AMHI
                <br/> Commission Paid Report
                <br/> From {{agentDetail.from}} TO: {{agentDetail.to}}
            </span>
            <div style=padding-left:300pt>Printed :{{agentDetail.currentTime}}</div>
            <table style='padding-top: 25pt'>
                <tr style='margin-bottom: 15pt'>
                    <td style='font-weight: bold;'>
                        Agent Broker Code
                    </td>
                    <td style="padding-left: 10pt">
                        :
                        <span style="padding-left:5pt">{{agentDetail.code}}</span>
                    </td>
                </tr>
                <tr>
                    <td style='font-weight: bold;'>
                        Agent Broker Name
                    </td>
                    <td style="padding-left: 10pt">
                        :
                        <span style="padding-left:5pt">{{agentDetail.name}}</span>
                    </td>
                </tr>
                <tr>
                    <td style='font-weight: bold;'>
                        Address
                    </td>
                    <td style="padding-left: 10pt">
                        :
                        <span style="padding-left:5pt">{{agentDetail.address}}</span>
                    </td>
                </tr>
                <tr>
                    <td style='font-weight: bold;'>
                        Corresponding Office
                    </td>
                    <td style="padding-left: 10pt">
                        :
                        <span style="padding-left:5pt">{{agentDetail.office}}</span>
                    </td>
                </tr>

            </table>
            <span style="margin-top:25pt">Commission Paid Report for The Payment processed from {{agentDetail.from}} to {{agentDetail.to}}</span>
        </div>
        <div>
            <table class='mainData' style=' border:1px black solid ; border-collapse: collapse;'>
                <tr>
                    <th>
                        Monitering Agent
                    </th>
                    <th>
                        Monitering Office
                    </th>
                    <th>
                        Policy Code
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Policy Holder Name
                    </th>
                    <th>
                        Policy Issue Date
                    </th>
                    <th>
                        Policy Start Date
                    </th>
                    <th>
                        Net Premium
                    </th>
                    <th>
                        GST
                    </th>
                    <th>
                        Gross Premium
                    </th>
                    <th>
                        Commission Rate
                    </th>
                    <th>
                        Commission Amount
                    </th>
                    <th>
                        Payable Reference
                    </th>
                    <th>
                        Adjustment Amount
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                {{#each tvalues}}
                <tr>
                    <td>
                        {{this.monitoringAgent}}
                    </td>
                    <td>
                        {{this.monitoringOffice}}
                    </td>
                    <td>
                        {{this.policyCode}}
                    </td>
                    <td>
                        {{this.productName}}
                    </td>
                    <td>
                        {{this.policyHolderName}}
                    </td>
                    <td>
                        {{this.policyIssueDate}}
                    </td>
                    <td>
                        {{this.policyStartDate}}
                    </td>
                    <td>
                        {{this.netPremium}}
                    </td>
                    <td>
                        {{this.gst}}
                    </td>
                    <td>
                        {{this.grossPremium}}
                    </td>
                    <td>
                        {{this.commissionRate}}
                    </td>
                    <td>
                        {{this.commissionAmount}}
                    </td>
                    <td>
                        {{this.payableReference}}
                    </td>
                    <td>
                        {{this.adjustmentAmount}}
                    </td>
                    <td>
                        {{this.total}}
                    </td>
                </tr>
                {{/each}}
                <tr class="color-blue">
                    <td>
                        Gross Payable Commission
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        {{Gross.netPremiumTotal}}
                    </td>
                    <td>
                        {{Gross.gstTotal}}
                    </td>
                    <td>
                        {{Gross.grossPremiumTotal}}
                    </td>
                    <td>

                    </td>
                    <td>
                        {{Gross.commissionAmountTotal}}
                    </td>
                    <td>

                    </td>
                    <td>
                        {{Gross.adjustmentAmountTotal}}
                    </td>
                    <td>
                        {{Gross.totalTotal}}
                    </td>
                </tr>
                <tr>
                    <th colspan=2>
                        Tax Type
                    </th>
                    <th colspan=2>
                        Tax Rate
                    </th>
                    <th colspan=2>
                        Tax Amount
                    </th>
                </tr>
                <tr class='color-blue'>
                    <td colspan=2>
                        TDs
                    </td>
                    <td colspan=2>
                        {{Tax.rate}}
                    </td>
                    <td colspan=2>
                        {{Tax.amount}}
                    </td>
                </tr>
                <tr class="color-blue">
                    <td colspan=2>
                        Proffessional Tax
                    </td>
                    <td colspan=2>
                    </td>
                    <td colspan=2>
                    </td>
                </tr>

                <tr class='color-blue'>
                    <td colspan=4>
                        Total Paid Amount
                    </td>
                    <td colspan=2>
                        {{Tax.total}}
                    </td>
                </tr>


            </table>
            <table>

            </table>

        </div>
        <!-- <div class='blankspace' style='height:50px'></div> -->
    </div>

</body>

</html>